# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
tfplan
plan.txt

# Build
build/
*.zip

# Docker
.dockerignore
docker-compose.override.yml

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# Misc
.DS_Store
outputs.json
results.sarif
trivy-results.sarif
